{% extends "base.html"%}

{% block content %}
<h2>{% if task%} Edit {%else%} Add {%endif%} Task</h2>

{%if error %}
<div class="alert alert_danger">{{error}}</div>
{%endif%}
<form method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label"> Title</label>
        <input type="text" name="title" class="form-control" value="{{task.title}}">
    </div>
    <div class="mb-3">
        <label class="form-label"> Description</label>
        <input type="text" name="description" class="form-control" row="'3" value="{{task.description}}">

    </div>

    <button type="submit" class="btn btn-primary"> Save</button>
    <a href="{url 'task_list'}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}