<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Basics</title>
</head>
<body>
    <h1>
        This is Basic Template
    </h1>


    <p> Name : {{name}} </p>
    <p>age : {{age}} </p>
    <!-- list -->
    <p>firstskill : {{skills.0}}</p>
    <p>firstskill : {{skills}}</p>

    <!-- obj attribute -->

    <p> Username : {{user.name}}</p>
    <p> age : {{user.age}}</p>

    <!-- dictionary -->

    <h2>Book title</h2>
    <p>Title : {{blog.title</p>
        <p>
￼

        date : {{blog.created_at}}
        </p>






</body>
</html>